/* Lukas handled the spacing using flex: num to determine screen space*/

/* flex 1 for the gray boxes, flex 8 for the white center */
    /* each grey line takes 10% of width, white space takes 80% */

.greyBars {
    display:flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.bar1 {
    width: 15%;
    height: 100%;
    z-index: 2;
    background-color: #D8D8D8;
}

.bar2 {
    width: 15%;
    height: 100%;
    z-index: 2;
    background-color: #D8D8D8;
}

.bar3 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 15vh;
    background-color: #444444;
}

.bar4 {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 10vh;
    background-color: #222222;
}