/* Lukas structured his HTML like this */
/*  header
    main
    footer
        div*4 
    footer
    ?
*/

.greyBar{
    display:flex;
    width: 100%;
    height: 150px;
    background-color: #D8D8D8;
}

.blueRec{
    margin: 25px;
    width: 100px;
    height: 100px;
    background-color: #5B8FDC;
}

.text{
    margin: 50px;
}

.blue{
    width: 100%;
    height: 300px;
    background-color: #5B8FDC;
}

.mint{
    width: 100%;
    height: 300px;
    background-color: #7BE0C3;
}
.puke{
    width: 100%;
    height: 300px;
    background-color: #C2E791;
}
.yellow{
    width: 100%;
    height: 300px;
    background-color: #F5E752;
}

.help{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
}